{% extends "_layout.html" %}

{% block title %}EARL Administration{% endblock %}
{% block page_header %}Admin{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('admin') }}">Admin</a></li>
{% endblock %}


{% block content %}

    <div class="widget flat radius-bordered">
        <div class="widget-header bg-success">
            <span class="widget-caption"><i class="fa fa-gears"></i> <strong>EARL Administration Menu</strong></span>
        </div>

        <div class="widget-body" style="min-height: 500px;">
            <div class="col-lg-3">
                <div id="MyTree" class="tree">
                    <div class="tree-folder" style="display: none;">
                        <div class="tree-folder-header">
                            <i class="fa fa-folder"></i>
                            <div class="tree-folder-name"> Admin Menu</div>
                        </div>
                    </div>
                    <div class="tree-item" style="display: none;">
                        <i class="tree-dot"></i>
                        <div class="tree-item-name"></div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-cog"></i>
                        <div class="tree-item-name">Systems Logs</div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-users"></i>
                        <div class="tree-item-name">Users</div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-th-list"></i>
                        <div class="tree-item-name">Campaign Types</div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-bar-chart"></i>
                        <div class="tree-item-name">Admin Reports</div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-file-text-o"></i>
                        <div class="tree-item-name">Automation Logs</div>
                    </div>
                    <div class="tree-item" style="display: block;">
                        <i class="tree-dot"></i>
                        <i class="fa fa-medkit"></i>
                        <div class="tree-item-name">System Health Check</div>
                    </div>
                </div><!-- end: div tree -->
            </div>
            <div class="col-lg-9">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content bordered-palegreen">
                        <tr>
                            <th>Code</th>
                            <th>Company</th>
                            <th>Activity Date</th>
                            <th>Username</th>
                            <th>Activity</th>
                            <th>Data</th>
                            <th>Model</th>
                            <th>Result</th>
                            <th>Audited</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(10) %}
                        <tr>
                            <td>CREATE</td>
                            <td>Py-Dev-Sys</td>
                            <td>2018-02-23 13:45:45</td>
                            <td>craigderington</td>
                            <td>Add new record</td>
                            <td>data</td>
                            <td>Store</td>
                            <td><span class="label label-success">Success</span></td>
                            <td><span class="label label-danger">False</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pull-right" style="margin-top:10px;">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- end: widget body -->
    </div><!-- end: widget bordered -->

{% endblock %}


{% block js %}
    {{ super() }}

    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/fuelux/treeview/tree-custom.min.js"></script>
<!--
<script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/fuelux/treeview/treeview-init.js"></script>
-->
    <script>
        $(document).ready(function () {
            UITree.init();
        });
    </script>

{% endblock %}