{% extends "_layout.html" %}

{% block title %}EARL Administration{% endblock %}
{% block page_header %}Admin{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('admin') }}">Admin</a></li>
{% endblock %}


{% block content %}

    <div class="widget flat radius-bordered">
        <div class="widget-header bg-success">
            <span class="widget-caption"><i class="fa fa-gears"></i> <strong>EARL Administration</strong></span>
        </div>

        <div class="widget-body" style="min-height: 500px;">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="orders-container">
                    <div class="orders-header">
                        <h6>Admin Menu</h6>
                    </div>
                    <ul class="orders-list">
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker"><strong><i class="fa fa-bullhorn"></i> EARL Announcements</strong></div>
                                    <div class="item-time">
                                        <i class="fa fa-info-circle"></i>
                                        <span>Create, Manage and Send EARL Announcements</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="{{ url_for('announcement_list') }}">
                                <i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- end: widget body -->
    </div><!-- end: widget bordered -->

{% endblock %}


{% block js %}
    {{ super() }}
{% endblock %}