{% extends "_layout.html" %}

{% block title %}EARL Administration{% endblock %}
{% block page_header %}Admin{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('admin') }}">Admin</a></li>
<li>Announcements</li>
{% endblock %}


{% block content %}

    <div class="widget flat radius-bordered">
        <div class="widget-header bg-success">
            <span class="widget-caption"><i class="fa fa-bullhorn"></i> <strong>EARL Announcements</strong></span>
        </div>

        <div class="widget-body">
            <div class="row">
                <span style="margin-left:20px;">
                    <a href="{{ url_for('announcement_add')}}" class="btn btn-sm btn-default">
                        <i class="fa fa-plus-circle"></i> Add Announcement</a>
                </span>
            </div>
            <table class="table table-hover">
                <thead class="bordered-success">
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Date Sent</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for announcement in announcements %}
                    <tr>
                        <td width="5%">{{ announcement.id }}</td>
                        <td width="25%">{{ announcement.msg_subject }}</td>
                        <td width="25%">{{ announcement.msg_body|truncate(50) }}</td>
                        <td width="15%">
                            <span class="label label-{% if announcement.sent_status == 'Not Sent' %}danger{% else %}success{% endif %}">
                                {{ announcement.sent_status }}
                            </span>
                        </td>
                        <td width="15%">{% if announcement.sent_date %}{{ announcement.sent_date|formatdate }}{% else %}<span class="label label-danger">N/A</span> {% endif %}</td>
                        <td width="15%">
                            <a href="{{ url_for('announcement_edit', announcement_pk_id=announcement.id) }}"
                               class="btn btn-xs btn-primary icon-only"
                               title="Edit Announcement">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ url_for('announcement_delete', announcement_pk_id=announcement.id) }}"
                               class="btn btn-xs btn-danger icon-only"
                               onclick="return confirm('Are you sure you want to delete this announcement?');"
                               title="Delete Announcement">
                                <i class="fa fa-times-circle"></i>
                            </a>
                            <a href="{{ url_for('send_announcement', announcement_pk_id=announcement.id) }}"
                               class="btn btn-xs btn-success icon-only"
                               onclick="return confirm('This action will send the announcement to all active stores.  Continue?');"
                               title="Send Announcement Now">
                                <i class=" fa fa-external-link-square"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">The system found <span class="badge badge-success badge-square">{{ announcement_count }} </span> announcement{% if announcement_count != 1 %}s{% endif %}.</td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- end: widget body -->
    </div><!-- end: widget bordered -->

{% endblock %}


{% block js %}
    {{ super() }}
{% endblock %}