{% extends "_layout.html" %}
{% block title %}EARL Admin: Campaign Detail &raquo; {{ campaign.name }}{% endblock %}
{% block page_header %}Campaign Detail &raquo; {{ campaign.name }}{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
<li>{{ campaign.name }}</li>
{% endblock %}


{% block content %}


    <div class="profile-container">
        <!-- begin: profile header -->
        <div class="profile-header row">
            <div class="col-lg-1 col-md-2 col-sm-6 text-center">
                <i class="fa fa-address-card fa-5x icon-only" style="margin-top: 35px;"></i>
            </div>
            <div class="col-lg-11 col-md-4 col-sm-12 profile-info">
                <div class="header-fullname"><h1>{{ campaign.name }}</h1></div>
                {% if campaign.status == 'ACTIVE' %}
                    <a href="#" class="btn btn-success btn-md btn-follow">
                        <i class="fa fa-check"></i> {{ campaign.status.upper() }}
                    </a>
                {% else %}
                    <a href="#" class="btn btn-danger btn-md btn-follow">
                        <i class="fa fa-times-circle"></i> {{ campaign.status.upper() }}
                    </a>
                {% endif %}
                <div class="header-description">
                    {{ campaign.campaign_type }}
                    <a href="{{ url_for('store_detail', store_pk_id=campaign.store_id) }}?=campaigns" class="label label-primary pull-right">
                        <i class="fa fa-th-list"></i> View All {{ campaign.store }} Campaigns
                    </a>
                </div>
            </div>
        </div><!-- end: profile-header -->

    <div class="profile-body">
        <div class="col-lg-12">
            <div class="tabbable">
                <!-- begin: tabs -->
                <ul class="nav nav-tabs tabs-flat nav-justified" id="myTab11">
                    <li class="tab-primary {% if 'settings' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#settings">
                            Campaign Settings
                        </a>
                    </li>
                    <li class="tab-darkorange {% if 'approval' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#approval">
                            Campaign Approval
                        </a>
                    </li>
                     <li class="tab-maroon {% if 'tracker' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#tracker">
                            Pixel Tracker
                        </a>
                    </li>
                    <li class="tab-purple {% if 'creative' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#creative">
                            Campaign Creative
                        </a>
                    </li>
                    <li class="tab-primary {% if 'rvm' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#rvm">
                            Campaign RVM
                        </a>
                    </li>
                    <li class="tab-default {% if 'stats' in request.full_path %}active{% endif %}">
                        <a data-toggle="tab" href="#stats">
                            Campaign Stats
                        </a>
                    </li>
                </ul><!-- end: tabs -->

                <!-- begin: tab-content -->
                <div class="tab-content tabs-flat">
                    {% for error in form.errors %}
                        <div class="alert alert-danger">
                            <p><i class="fa fa-warning"></i> {{ error }}</p>
                        </div>
                    {% endfor %}
                    {% for error in approval_form.errors %}
                        <div class="alert alert-danger">
                            <p><i class="fa fa-warning"></i> {{ error }}</p>
                        </div>
                    {% endfor %}
                    {% for error in creative_form.errors %}
                        <div class="alert alert-danger">
                            <p><i class="fa fa-warning"></i> {{ error }}</p>
                        </div>
                    {% endfor %}
                    {% for error in rvm_form.errors %}
                        <div class="alert alert-danger">
                            <p><i class="fa fa-warning"></i> {{ error }}</p>
                        </div>
                    {% endfor %}


                    <!-- begin: approval -->
                    <div id="approval" class="tab-pane {% if 'approval' in request.full_path %}active{% endif %}">
                        <div class="row">
                            <form role="form" method="post" id="campaign-approval-form">
                                <div class="col-lg-6">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="description">Campaign Description</label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="description" rows="5">{{ campaign.description }}</textarea>
                                            <i class="fa fa-align-left primary"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign description...</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="funded">Campaign Funded?:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="funded" type="radio" value="1" {% if campaign.funded %}checked="checked"{% endif %} />
                                                <span class="text success">FUNDED</span>
                                            </label>
                                            <label>
                                                <input name="funded" type="radio" value="0" {% if not campaign.funded %}checked="checked"{% endif %}/>
                                                <span class="text danger">NOT FUNDED</span>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="approved">Campaign Approval Status:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="approved" type="radio" value="1" {% if campaign.approved %}checked="checked"{% endif %} />
                                                <span class="text success">APPROVED</span>
                                            </label>
                                            <label>
                                                <input name="approved" type="radio" value="0" {% if not campaign.approved %}checked="checked"{% endif %}/>
                                                <span class="text danger">NOT APPROVED</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label for="objective">Campaign Objective</label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="objective" rows="5">{{ campaign.objective }}</textarea>
                                            <i class="fa fa-align-left primary"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign objective...</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="options">Campaign Options:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="options"
                                               name="options"
                                               placeholder="Enter Campaign Options"
                                               value="{{ campaign.options }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="options">Campaign Frequency:</label><br />
                                        {{ approval_form.frequency }}
                                    </div>


                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="campaign-approval-form"
                                            name="save-campaign-approval"
                                            id="save-campaign-approval"
                                            value="submit"
                                            class="btn btn-lg btn-darkorange .shiny">
                                        <i class="fa fa-save"></i> Save Campaign Approval
                                    </button>
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div><!-- end: approval -->

                    <!-- begin: tracker -->
                    <div id="tracker" class="tab-pane {% if 'tracker' in request.full_path %}active{% endif %}">
                        <div class="row">
                            {% if campaign.status == 'INACTIVE' %}
                            <div class="col-md-8">
                                <a href="{{ url_for('create_pixel', campaign_pk_id=campaign.id )}}" class="btn btn-lg btn-primary" {% if not campaign.approved %}disabled{% endif %}>
                                    <i class="fa fa-dot-circle-o"></i> Create Tracking Pixel
                                </a>
                                {% if not campaign.approved %}<span class="text-danger"> <small>Campaign Not Yet Approved</small></span>{% endif %}
                            </div>
                            {% else %}
                            <div class="col-md-8">
                                <div class="widget">
                                    <div class="widget-header">
                                        <span class="widget-caption"><i class="fa fa-diamond"></i> EARL Pixel Tracker</span>
                                        <div class="widget-buttons">
                                            <div class="btn-group">
                                                <a class="btn btn-blue btn-sm " href="#">Actions</a>
                                                <a class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu dropdown-blue pull-left">
                                                    <li>
                                                        <a href=""><i class="fa fa-medkit"></i> Check Health</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="fa fa-share"></i> Share Code</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" onclick="copyToClipboard()"><i class="fa fa-code"></i> Copy Code</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-body" style="min-height: 300px;">
                                        <h3 class="text-darkpink"><i class="fa fa-info-circle"></i> Pixel Tracking Code</h3>
                                        <p class="text-darkpink">To copy the code, click Actions, Copy Code!</p>
                                        <!--<pre>&lt;img src=&quot;https://{{ pt.ip_addr }}/api/generate-pixel?job_number={{ campaign.job_number }}&amp;client_id={{ campaign.client_id}}&amp;campaign={{ campaign_pixelhash }}&quot; alt=&quot;&quot; style=&quot;display: none&#59;&quot;/&gt;</pre>-->
                                        <div class="form-group">
                                            <input class="form-control col-lg-10" readonly type="text" id="pttrackingcode" value="&lt;img src=&quot;https://{{ pt.fqdn }}/api/generate-pixel?job_number={{ campaign.job_number }}&amp;client_id={{ campaign.client_id}}&amp;campaign={{ campaign_pixelhash }}&quot; alt=&quot;&quot; style=&quot;display: none&#59;&quot;/&gt;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well with-header">
                                    <div class="header bg-azure">
                                        Tracker ID: {{ pt.name }}
                                    </div>
                                    {% if pt %}
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>Name: </td>
                                                    <td>{{ pt.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>IP: </td>
                                                    <td>{{ pt.ip_addr }}</td>
                                                </tr>
                                                <tr>
                                                    <td>FQDN: </td>
                                                    <td>{{ pt.fqdn }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status: </td>
                                                    <td>{% if pt.active %}
                                                            <span class="label label-success">ACTIVE</span>
                                                        {% else %}
                                                        <span class="label label-success">INACTIVE</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Campaigns: </td>
                                                    <td>{{ pt.total_campaigns }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div><!-- end: tracker -->

                    <!-- begin: creative -->
                    <div id="creative" class="tab-pane {% if 'creative' in request.full_path %}active{% endif %}">
                        <div class="row">
                            <form role="form" method="post" id="campaign-creative-form">
                                <div class="col-lg-6">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="creative_header"><strong>Campaign Creative Header</strong></label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="creative_header" rows="7">{{ campaign.creative_header }}</textarea>
                                            <i class="fa fa-align-left purple"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign creative header</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="creative_footer"><strong>Campaign Creative Footer</strong></label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="creative_footer" rows="7">{{ campaign.creative_footer}}</textarea>
                                            <i class="fa fa-align-left purple"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign creative footer.</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="email_subject">Campaign Creative Email Subject:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="email_subject"
                                               name="email_subject"
                                               placeholder="Enter Custom Email Subject Line"
                                               value="{{ campaign.email_subject }}">
                                    </div>

                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="campaign-creative-form"
                                            name="save-campaign-creative"
                                            id="save-campaign-creative"
                                            value="submit"
                                            class="btn btn-lg btn-purple .shiny">
                                        <i class="fa fa-save"></i> Save Creative
                                    </button>
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>
                                    {% if campaign.creative_header != "Enter Header" and campaign.creative_footer != "Enter Footer" %}
                                        <div class="btn-group">
                                            <a class="btn btn-lg btn-default" href="javascript:void(0);"><i class="fa fa-plus-circle"></i> Creative Actions</a>
                                            <a class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ url_for('send_test_creative', campaign_pk_id=campaign.id) }}">
                                                        <i class="fa fa-envelope"></i> Send Test Email
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="col-lg-6">
                                    <iframe name="render_email_template"
                                            width="600"
                                            height="600"
                                            srcdoc="{{ campaign.creative_header}} TEST CLIENT NAME {{ campaign.creative_footer }}"
                                            frameborder="0"
                                            scrolling="yes">
                                    </iframe>
                                </div>

                            </form>
                        </div>
                    </div><!-- end: creative -->


                    <!-- begin: rvm -->
                    <div id="rvm" class="tab-pane {% if 'rvm' in request.full_path %}active{% endif %}">
                        <div class="row">
                            <form role="form" method="post" id="campaign-rvm-form">
                                <div class="col-lg-8">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="rvm_campaign_id">Campaign RVM ID:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="rvm_campaign_id"
                                               name="rvm_campaign_id"
                                               placeholder="Enter RVM ID"
                                               value="{{ campaign.rvm_campaign_id }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="rvm_limit">Campaign RVM Limit:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="rvm_limit"
                                               name="rvm_limit"
                                               placeholder="Enter RVM Send Limit"
                                               value="{{ campaign.rvm_limit }}">
                                    </div>

                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="campaign-rvm-form"
                                            name="save-campaign-rvm"
                                            id="save-campaign-rvm"
                                            value="submit"
                                            class="btn btn-lg btn-primary .shiny">
                                        <i class="fa fa-save"></i> Save RVM Settings
                                    </button>
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>

                                </div>

                                <div class="col-lg-4">
                                    <div class="well-lg">
                                        <p class="help-block">RVM Send Count for {{ campaign.campaign_type }}</p>
                                        {% if campaign.rvm_send_count %}
                                        <h1>{{ campaign.rvm_send_count }}</h1>
                                        {% else %}
                                        <h1>Zero RVMs Sent</h1>
                                        {% endif %}
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div><!-- end: creative -->



                    <!-- begin: campaign stats -->
                    <div id="stats" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number sky">
                                                        <i class="fa fa-group fa-2x text-azure"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-sky bg-white">
                                                    <span class="databox-number sky">{{ dashboard.total_visitors|formatnumber }}</span>
                                                    <div class="databox-text darkgray">TOTAL UNIQUE VISITORS</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number success">
                                                        <i class="fa fa-th-list fa-2x text-success"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-success bg-white">
                                                    <span class="databox-number success">{{ dashboard.total_appends|formatnumber }}</span>
                                                    <div class="databox-text darkgray">TOTAL APPENDED VISITORS</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number success">
                                                        <i class="fa fa-th-list fa-2x text-success"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-success bg-white">
                                                    <span class="databox-number success">{{ dashboard.append_rate|formatnumber }} %</span>
                                                    <div class="databox-text darkgray">APPEND RATE</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number sky">
                                                        <i class="fa fa-envelope-square fa-2x text-azure"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-sky bg-white">
                                                    <span class="databox-number sky">{{ dashboard.total_rtns|formatnumber }}</span>
                                                    <div class="databox-text darkgray">TOTAL NOTIFICATIONS SENT</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number primary">
                                                        <i class="fa fa-envelope-open-o fa-2x text-dark"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-primary bg-white">
                                                    <span class="databox-number primary">{{ dashboard.total_followup_emails|formatnumber }}</span>
                                                    <div class="databox-text darkgray">TOTAL FOLLOWUP EMAILS SENT</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="databox databox-lg radius-bordered databox-shadowed">
                                                <div class="databox-left bg-white">
                                                    <span class="databox-number success">
                                                        <i class="fa fa-mobile fa-2x text-success"></i>
                                                    </span>
                                                </div>
                                                <div class="databox-right bordered-thick bordered-success bg-white">
                                                    <span class="databox-number success">{{ dashboard.total_rvms|formatnumber }}</span>
                                                    <div class="databox-text darkgray">TOTAL RVMS SENT</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end: campaign stats  -->



                    <!-- begin: settings -->
                    <div id="settings" class="tab-pane {% if 'settings' in request.full_path %}active{% elif '?=' not in request.full_path %}active{% endif %}">
                        <div class="row">
                            <form role="form" method="post" id="edit-campaign-form">
                                <div class="col-lg-6">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="job_number">Tactic Number:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="job_number"
                                               name="job_number"
                                               placeholder="Enter Job Number"
                                               value="{{ campaign.job_number }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="radius">Radius:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="radius"
                                               name="radius"
                                               placeholder="Enter Campaign Radius"
                                               value="{{ campaign.radius }}">
                                    </div>

                                    <div class="form-group">
                                         <label for="name">Start Date:</label>
                                         <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="fa fa-calendar"></i>
                                             </span>
                                             <input type="text"
                                                class="form-control date-picker"
                                                id="id-date-picker-1"
                                                name="start_date"
                                                placeholder="Select Start Date"
                                                value="{{ campaign.start_date|datemdy }}">
                                         </div>
                                    </div>

                                     <div class="form-group">
                                         <label for="name">End Date:</label>
                                         <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="fa fa-calendar"></i>
                                             </span>
                                             <input type="text"
                                                class="form-control date-picker"
                                                id="id-date-picker-2"
                                                name="end_date"
                                                placeholder="Select End Date"
                                                value="{{ campaign.end_date|datemdy }}">
                                         </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label for="client_id">Client ID:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="client_id"
                                               name="client_id"
                                               placeholder="Enter Client ID"
                                               value="{{ campaign.client_id }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Campaign Job Number:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="name"
                                               name="name"
                                               placeholder="Enter Campaign Name"
                                               value="{{ campaign.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">ADF Email Subject:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="adf_subject"
                                               name="adf_subject"
                                               placeholder="Enter Custom ADF Email Subject"
                                               value="{{ campaign.adf_subject }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Campaign Status:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="status" type="radio" value="ACTIVE" {% if campaign.status == 'ACTIVE' %}checked="checked"{% endif %} />
                                                <span class="text success">ACTIVE</span>
                                            </label>
                                            <label>
                                                <input name="status" type="radio" value="INACTIVE" {% if campaign.status == 'INACTIVE' %}checked="checked"{% endif %} />
                                                <span class="text danger">NOT ACTIVE</span>
                                            </label>
                                        </div>
                                        <p class="help-block text-info">The campaign's status will be updated automatically upon funding and approval.</p>
                                    </div>


                                    <!-- form actions -->
                                    <hr />

                                    <button type="submit"
                                            form="edit-campaign-form"
                                            name="save-campaign-settings"
                                            id="save-campaign-settings"
                                            value="submit"
                                            class="btn btn-lg btn-primary .shiny">
                                        <i class="fa fa-save"></i> Save Campaign
                                    </button>
                                    <input type="hidden" name="store_id" value="{{ store.id }}" />
                                    <input type="hidden" name="campaign_type" value="{{ campaign.type }}" />
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>
                                    <a href="{{ url_for('campaign_archive', campaign_pk_id=campaign.id) }}" class="btn btn-lg btn-danger .shiny pull-right"><i class="fa fa-archive"></i> Archive Campaign</a>
                                </div>
                            </form>
                        </div>
                    </div><!-- end: settings -->
                </div><!-- end: tab-content -->
            </div><!-- end: tabbable -->
        </div><!-- end: profile body -->
    </div><!-- end: profile container -->

    </div>
{% endblock %}

{% block js %}
    {{ super() }}


    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script>
        //-- bootstrap date picker--
        $('.date-picker').datepicker({
            clearBtn: true,
            todayBtn: true,
            autoClose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    </script>

    <script>
        function copyToClipboard() {
          var copyText = document.getElementById("pttrackingcode");
          copyText.select();
          document.execCommand('copy');
          alert("Copied the text: " + copyText.value);
        }
    </script>

    <!-- datepicker-js ->
    <script src="assets/js/datetime/bootstrap-timepicker.js"></script>

    <!--Bootstrap Date Range Picker
    <script src="assets/js/datetime/moment.js"></script>
    <script src="assets/js/datetime/daterangepicker.js"></script>
    -->
{% endblock %}