{% extends "_layout.html" %}
{% block title %}EARL Admin: Add Store Campaign{% endblock %}
{% block page_header %}Add Store Campaign{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
{% endblock %}


{% block content %}

    {% for error in form.errors %}
        <div class="alert alert-danger">
            <p>{{error}}</p>
        </div>
    {% endfor %}

    <div class="widget">
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption"><i class="fa fa-bank"></i> New Campaign Form</span>
        </div>
        <div class="widget-body">
            <div>
                <form role="form" method="post" id="add-campaign-form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <h6>Campaign Type</h6>
                        <select id="campaign_type" name="campaign_type" aria-hidden="true">
                            <option value="">Select Campaign Type</option>
                            {% for type in campaign_types %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <h6>Select Store</h6>
                        <select id="store_id" name="store_id" aria-hidden="true">
                            <option value="">Select Store</option>
                            {% for store in stores %}
                                <option value="{{ store.id }}">{{ store.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="client_id">Client ID:</label>
                        <input type="text"
                               class="form-control"
                               id="client_id"
                               name="client_id"
                               placeholder="Enter Client ID">
                    </div>
                    <div class="form-group">
                        <label for="name">Campaign Name:</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               placeholder="Enter Campaign Name">
                    </div>

                    <div class="form-group">
                        <label for="job_number">Job Number:</label>
                        <input type="text"
                               class="form-control"
                               id="job_number"
                               name="job_number"
                               placeholder="Enter Job Number">
                    </div>

                    <div class="form-group">
                        <label for="radius">Radius:</label>
                        <input type="text"
                               class="form-control"
                               id="radius"
                               name="radius"
                               placeholder="Enter Campaign Radius">
                    </div>

                    <hr />

                     <div class="form-group">
                         <label for="name">Start Date:</label>
                         <div class="input-group">
                             <span class="input-group-addon">
                                 <i class="fa fa-calendar"></i>
                             </span>
                             <input type="text"
                                class="form-control date-picker"
                                id="id-date-picker-1"
                                name="start_date"
                                placeholder="Select Start Date">
                         </div>
                    </div>

                     <div class="form-group">
                         <label for="name">End Date:</label>
                         <div class="input-group">
                             <span class="input-group-addon">
                                 <i class="fa fa-calendar"></i>
                             </span>
                             <input type="text"
                                class="form-control date-picker"
                                id="id-date-picker-2"
                                name="end_date"
                                placeholder="Select End Date">
                         </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <label for="status">Campaign Status:  </label>
                        <div class="radio">
                            <label>
                                <input name="status" type="radio" checked="checked" value="INACTIVE">
                                <span class="text danger">NOT ACTIVE</span>
                            </label>
                            <label>
                                <input name="status" type="radio" value="ACTIVE" disabled>
                                <span class="text success">ACTIVE</span>
                            </label>
                        </div>
                        <p class="help-block text-info">The campaign's status will be updated automatically upon funding and approval.</p>
                    </div>

                    <!-- form actions -->
                    <hr />

                    <button type="submit" form="add-campaign-form" value="submit" class="btn btn-lg btn-primary .shiny">
                        <i class="fa fa-save"></i> Create Campaign
                    </button>

                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny">
                        <i class="fa fa-times-circle"></i> Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


{% block js %}
    {{ super() }}


    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script>
        //-- bootstrap date picker--
        $('.date-picker').datepicker({
            clearBtn: true,
            todayBtn: true,
            autoClose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    </script>

    <!-- datepicker-js ->
    <script src="assets/js/datetime/bootstrap-timepicker.js"></script>

    <!--Bootstrap Date Range Picker
    <script src="assets/js/datetime/moment.js"></script>
    <script src="assets/js/datetime/daterangepicker.js"></script>
    -->
{% endblock %}
