{% extends "_layout.html" %}
{% block title %}EARL Admin: Manage Store Campaigns{% endblock %}
{% block page_header %}Manage Store Campaigns{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
{% endblock %}


{% block content %}

        <div class="well with-header with-footer">
            <div class="header bg-success">
                <i class="fa fa-th-list"></i> <strong>Campaign List | Filter Campaigns By Store </strong>
            </div>
            <div class="row">
                {% for error in form.errors %}
                    <div class="alert alert-danger">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <p><i class="fa fa-warning"></i> {{ error }}</p>
                     </div>
                {% endfor %}
                <form class="form-inline" method="post" name="store_filter">
                    {{ form.hidden_tag() }}
                    <div class="col-lg-8">
                        <div class="form-group">
                            <span class="btn btn-md btn-primary"><i class="fa fa-search"></i> Filter By Store</span>
                                <select name="store_id" onchange="this.form.submit();">
                                    <option value="">Select a Store</option>
                                    {% for store in stores %}
                                        <option value="{{ store.id }}">{{ store.name }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                </form>

                <span class="pull-right" style="margin-top: -10px;margin-bottom: 10px;">
                    <a href="{{ url_for('campaign_add') }}" class="btn btn-sm btn-default .shiny">
                        <i class="fa fa-plus-square"></i> Add Campaign
                    </a>
                </span>
            </div>

            {% if campaigns %}

            <div class="row"><hr /></div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead class="bordered-primary">
                        <tr>
                            <th>Campaign Name</th>
                            <th>Campaign Type</th>
                            <th>Job Number</th>
                            <th>Client ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Approved</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                            <tr>
                                <td><a href="{{ url_for('campaign_detail', campaign_pk_id=campaign.id) }}">{{ campaign.name}}</a></td>
                                <td>{{ campaign.campaign_type }}</td>
                                <td>{{ campaign.job_number }}</td>
                                <td>{{ campaign.client_id }}</td>
                                <td>{{ campaign.start_date|formatdate}}</td>
                                <td>{{ campaign.end_date|formatdate }}</td>
                                <td><span class="label label{% if campaign.status == 'ACTIVE' %}-success{% else %}-darkorange{% endif %}">{{ campaign.status }}</span></td>
                                <td>{% if campaign.approved %}
                                    <span class="label label-purple">APPROVED</span>
                                    {% else %}
                                    <span class="label label-warning">NOT APPROVED</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-default btn-sm shiny icon-only"
                                       href="{{ url_for('campaign_detail', campaign_pk_id=campaign.id) }}"
                                       title="Get Campaign">
                                        <i class="fa fa-check-circle"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm shiny icon-only"
                                       href="{{ url_for('reports') }}"
                                       title="Campaign Reports">
                                        <i class="fa fa-bar-chart"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="footer">
                    <span class="badge badge-success badge-square">{{ campaign_count }}</span> campaigns showing...
                </div>
            </div>

             {% else %}

                <div class="alert alert-info alert-block alert-dismissible" style="margin-top: 25px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><i class="fa fa-warning"></i> The selected store name no campaigns to display.  Please click <a href="{{ url_for('campaign_add') }}">add campaign</a> to get started...</h4></p>
                </div>

             {% endif %}

        </div>

{% endblock %}
