{% extends "_layout.html" %}
{% block title %}EARL Admin: Campaign Detail &raquo; {{ campaign.name }}{% endblock %}
{% block page_header %}Campaign Detail &raquo; {{ campaign.name }}{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('campaigns') }}">Campaigns</a></li>
<li>{{ campaign.name }}</li>
{% endblock %}


{% block content %}


    <div class="profile-container">
        <!-- begin: profile header -->
        <div class="profile-header row">
            <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                <i class="fa fa-address-card fa-5x icon-only" style="margin-top: 35px;"></i>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
                <div class="header-fullname"><h1>{{ campaign.name }}<br/>{{ campaign.campaign_type }}</h1></div>
                {% if campaign.status == 'ACTIVE' %}
                    <a href="#" class="btn btn-success btn-md btn-follow">
                        <i class="fa fa-check"></i> {{ campaign.status.upper() }}
                    </a>
                {% else %}
                    <a href="#" class="btn btn-danger btn-md btn-follow">
                        <i class="fa fa-times-circle"></i> {{ campaign.status.upper() }}
                    </a>
                {% endif %}
                <div class="header-description">

                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value primary">{{ visitor_count }}</div>
                        <div class="stats-title">VISITORS</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value darkorange">{{ lead_count }}</div>
                        <div class="stats-title">LEADS</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
                        <div class="stats-value azure">{{ open_count }}</div>
                        <div class="stats-title">SENT TO DEALER</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        <i class="fa fa-info-circle"></i>
                        <a href="{{ url_for('store_detail', store_pk_id=store.id) }}">
                            {{ store.name }}
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        <i class="fa fa-map"></i> {{ store.city}}, {{ store.state.upper() }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                        <i class="fa fa-map-marker"></i> Radius: {{ campaign.radius }}
                    </div>
                </div>
            </div>
        </div><!-- end: profile-header -->

    <div class="profile-body">
        <div class="col-lg-12">
            <div class="tabbable">
                <!-- begin: tabs -->
                <ul class="nav nav-tabs tabs-flat nav-justified" id="myTab11">
                    <li class="tab-primary active">
                        <a data-toggle="tab" href="#settings">
                            Campaign Settings
                        </a>
                    </li>
                    <li class="tab-darkorange">
                        <a data-toggle="tab" href="#approval">
                            Campaign Approval
                        </a>
                    </li>
                     <li class="tab-maroon">
                        <a data-toggle="tab" href="#tracker">
                            Pixel Tracker
                        </a>
                    </li>
                     <li class="tab-purple">
                        <a data-toggle="tab" href="#creative">
                            Campaign Creative
                        </a>
                    </li>
                    <li class="tab-default">
                        <a data-toggle="tab" href="#visitors">
                            Visitors
                        </a>
                    </li>
                    <li class="tab-success">
                        <a data-toggle="tab" href="#leads">
                            Leads
                        </a>
                    </li>
                </ul><!-- end: tabs -->

                <!-- begin: tab-content -->
                <div class="tab-content tabs-flat">
                    {% for error in form.errors %}
                        <div class="alert alert-danger">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                    {% for error in approval_form.errors %}
                        <div class="alert alert-danger">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                    {% for error in creative_form.errors %}
                        <div class="alert alert-danger">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}


                    <!-- begin: approval -->
                    <div id="approval" class="tab-pane">
                        <div class="row">
                            <form role="form" method="post" id="campaign-approval-form">
                                <div class="col-lg-6">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="description">Campaign Description</label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="description" rows="5">{{ campaign.description }}</textarea>
                                            <i class="fa fa-align-left primary"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign description...</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="funded">Campaign Funded?:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="funded" type="radio" value="1" {% if campaign.funded %}checked="checked"{% endif %} />
                                                <span class="text success">FUNDED</span>
                                            </label>
                                            <label>
                                                <input name="funded" type="radio" value="0" {% if not campaign.funded %}checked="checked"{% endif %}/>
                                                <span class="text danger">NOT FUNDED</span>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="approved">Campaign Approval Status:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="approved" type="radio" value="1" {% if campaign.approved %}checked="checked"{% endif %} />
                                                <span class="text success">APPROVED</span>
                                            </label>
                                            <label>
                                                <input name="approved" type="radio" value="0" {% if not campaign.approved %}checked="checked"{% endif %}/>
                                                <span class="text danger">NOT APPROVED</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label for="objective">Campaign Objective</label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="objective" rows="5">{{ campaign.objective }}</textarea>
                                            <i class="fa fa-align-left primary"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign objective...</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="options">Campaign Options:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="options"
                                               name="options"
                                               placeholder="Enter Campaign Options"
                                               value="{{ campaign.options }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="options">Campaign Frequency:</label><br />
                                        {{ approval_form.frequency }}
                                    </div>


                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="campaign-approval-form"
                                            name="save-campaign-approval"
                                            id="save-campaign-approval"
                                            value="submit"
                                            class="btn btn-lg btn-darkorange .shiny">
                                        <i class="fa fa-save"></i> Save {{ campaign.name }} Campaign Approval
                                    </button>
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div><!-- end: approval -->

                    <!-- begin: tracker -->
                    <div id="tracker" class="tab-pane">
                        <div class="row">
                            {% if campaign.status == 'INACTIVE' %}
                            <div class="col-md-8">
                                <a href="{{ url_for('create_pixel', campaign_pk_id=campaign.id )}}" class="btn btn-lg btn-primary" {% if not campaign.approved %}disabled{% endif %}>
                                    <i class="fa fa-dot-circle-o"></i> Create Tracking Pixel
                                </a>
                                {% if not campaign.approved %}<span class="text-danger"> <small>Campaign Not Yet Approved</small></span>{% endif %}
                            </div>
                            {% else %}
                            <div class="col-md-8">
                                <div class="widget">
                                    <div class="widget-header">
                                        <span class="widget-caption"><i class="fa fa-diamond"></i> EARL Pixel Tracker</span>
                                        <div class="widget-buttons">
                                            <div class="btn-group">
                                                <a class="btn btn-blue btn-sm " href="#">Actions</a>
                                                <a class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu dropdown-blue pull-left">
                                                    <li>
                                                        <a href=""><i class="fa fa-medkit"></i> Check Health</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="fa fa-share"></i> Share Code</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="fa fa-code"></i> Copy Code</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <p>https://pt1.earlbdc.com/api/generate-pixel?job_number={{ campaign.job_number }}&client_id={{ campaign.client_id}}&campaign={{ campaign_pixelhash }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well with-header">
                                    <div class="header bg-azure">
                                        Tracker ID: {{ pt.name }}
                                    </div>
                                    {% if pt %}
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>Name: </td>
                                                    <td>{{ pt.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>IP: </td>
                                                    <td>{{ pt.ip_addr }}</td>
                                                </tr>
                                                <tr>
                                                    <td>FQDN: </td>
                                                    <td>{{ pt.fqdn }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status: </td>
                                                    <td>{% if pt.active %}
                                                            <span class="label label-success">ACTIVE</span>
                                                        {% else %}
                                                        <span class="label label-success">INACTIVE</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Campaigns: </td>
                                                    <td>{{ pt.total_campaigns }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div><!-- end: tracker -->

                    <!-- begin: creative -->
                    <div id="creative" class="tab-pane">
                        <div class="row">
                            <form role="form" method="post" id="campaign-creative-form">
                                <div class="col-lg-8">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="creative_header"><strong>Campaign Creative Header</strong></label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="creative_header" rows="7">{{ campaign.creative_header }}</textarea>
                                            <i class="fa fa-align-left purple"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign creative header</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="creative_footer"><strong>Campaign Description</strong></label>
                                        <span class="input-icon icon-right">
                                            <textarea class="form-control" name="creative_footer" rows="7">{{ campaign.creative_footer}}</textarea>
                                            <i class="fa fa-align-left purple"></i>
                                        </span>
                                        <p class="help-block">Please enter a campaign creative footer.</p>
                                    </div>

                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="campaign-creative-form"
                                            name="save-campaign-creative"
                                            id="save-campaign-creative"
                                            value="submit"
                                            class="btn btn-lg btn-purple .shiny">
                                        <i class="fa fa-save"></i> Save {{ campaign.name }} Creative
                                    </button>
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>

                                </div>
                            </form>
                        </div>
                    </div><!-- end: creative -->

                    <!-- begin: visitors -->
                    <div id="visitors" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget">
                                    <div class="widget-header bg-azure">
                                        <i class="widget-icon fa fa-globe"></i>
                                        <span class="widget-caption">Campaign Visitors</span>
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding: 7px;">
                                            <form class="form-inline" method="post" id="search-visitors">
                                                <div class="form-group">
                                                    <span class="input-icon">
                                                        <input type="text" name="q" class="form-control input-md" placeholder="Search Visitors">
                                                        <i class="fa fa-search danger circular"></i>
                                                    </span>
                                                </div>
                                                <span class="pull-right">
                                                    <div class="form-group">
                                                        <label>Records Per Page</label>
                                                        <select name="show_xrecords" class="form-control input-md">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </span>
                                            </form>
                                        </div>

                                        {% if not visitors %}

                                            <div class="alert alert-warning fade in" style="margin-top: 25px;">
                                                <button class="close" data-dismiss="alert">&times;</button>
                                                    <i class="fa-fw fa fa-warning"></i>
                                                        <strong>Warning</strong> This campaign has not yet received any visitors.  Please check back later.
                                            </div>

                                        {% else %}

                                            <table class="table table-hover table-striped">
                                                <thead class="bordered-primary">
                                                    <tr>
                                                        <th>Visitor IP</th>
                                                        <th>Visitor Date</th>
                                                        <th>Job Number</th>
                                                        <th>Client ID</th>
                                                        <th>Processed</th>
                                                        <th>Country Code</th>
                                                        <th>Region</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for visitor in visitors %}
                                                    <tr>
                                                        <td>{{ visitor.ip }}</td>
                                                        <td>{{ visitor.created_date|formatdate }}</td>
                                                        <td>{{ visitor.job_number }}</td>
                                                        <td>{{ visitor.client_id }}</td>
                                                        <td>{% if visitor.processed %}<span class="label label-success">True</span>{% else %}<span class="label label-danger">NOT PROCESSED</span>{% endif %}</td>
                                                        <td>{{ visitor.country_code }}</td>
                                                        <td>{{ visitor.region }}</td>
                                                        <td>{{ visitor.status }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><i class="fa fa-info-circle"></i> Showing Last 100 Visitors...</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end: visitors -->

                    <!-- begin: leads -->
                    <div id="leads" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget">
                                    <div class="widget-header bg-success">
                                        <i class="widget-icon fa fa-address-card-o"></i>
                                        <span class="widget-caption">Campaign Leads</span>
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding: 7px;">
                                            <form class="form-inline" method="post" id="search-leads">
                                                <div class="form-group">
                                                    <span class="input-icon">
                                                        <input type="text" name="q" class="form-control input-md" placeholder="Search Leads">
                                                        <i class="fa fa-search danger circular"></i>
                                                    </span>
                                                </div>
                                                <span class="pull-right">
                                                    <div class="form-group">
                                                        <label>Records Per Page</label>
                                                        <select name="show_xrecords" class="form-control input-md">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </span>
                                            </form>
                                        </div>

                                        {% if not leads %}

                                            <div class="alert alert-warning fade in" style="margin-top: 25px;">
                                                <button class="close" data-dismiss="alert">&times;</button>
                                                    <i class="fa-fw fa fa-warning"></i>
                                                        <strong>Warning</strong> This campaign has not yet converted visitors into leads.  Please check back later.
                                            </div>

                                        {% else %}

                                            <table class="table table-hover table-striped">
                                                <thead class="bordered-primary">
                                                    <tr>
                                                        <th>Lead Name</th>
                                                        <th>Created Date</th>
                                                        <th>Email</th>
                                                        <th>Address</th>
                                                        <th>City, State, Zip</th>
                                                        <th>Phone</th>
                                                        <th>Auto Info</th>
                                                        <th>Processed</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for lead in leads %}
                                                    <tr>
                                                        <td>{{ lead.first_name }} {{ lead.last_name }}</td>
                                                        <td>{{ lead.created_date|formatdate }}</td>
                                                        <td>{{ lead.email }}</td>
                                                        <td>{{ lead.address1 }}</td>
                                                        <td>{{ lead.city }}  {{ lead.state }} {{ lead.zip_code }}</td>
                                                        <td>{{ lead.home_phone }} {{ lead.cell_phone }}</td>
                                                        <td>{{ lead.car_year }} {{ lead.car_make }} {{ lead.car_model }}</td>
                                                        <td>{% if lead.processed %}<span class="label label-success">True</span>{% else %}<span class="label label-danger">NOT PROCESSED</span>{% endif %}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><i class="fa fa-info-circle"></i> Showing Last 100 Leads...</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end: leads -->

                    <!-- begin: settings -->
                    <div id="settings" class="tab-pane active">
                        <div class="row">
                            <form role="form" method="post" id="edit-campaign-form">
                                <div class="col-lg-6">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label for="job_number">Job Number:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="job_number"
                                               name="job_number"
                                               placeholder="Enter Job Number"
                                               value="{{ campaign.job_number }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="radius">Radius:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="radius"
                                               name="radius"
                                               placeholder="Enter Campaign Radius"
                                               value="{{ campaign.radius }}">
                                    </div>

                                    <div class="form-group">
                                         <label for="name">Start Date:</label>
                                         <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="fa fa-calendar"></i>
                                             </span>
                                             <input type="text"
                                                class="form-control date-picker"
                                                id="id-date-picker-1"
                                                name="start_date"
                                                placeholder="Select Start Date"
                                                value="{{ campaign.start_date|datemdy }}">
                                         </div>
                                    </div>

                                     <div class="form-group">
                                         <label for="name">End Date:</label>
                                         <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="fa fa-calendar"></i>
                                             </span>
                                             <input type="text"
                                                class="form-control date-picker"
                                                id="id-date-picker-2"
                                                name="end_date"
                                                placeholder="Select End Date"
                                                value="{{ campaign.end_date|datemdy }}">
                                         </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label for="client_id">Client ID:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="client_id"
                                               name="client_id"
                                               placeholder="Enter Client ID"
                                               value="{{ campaign.client_id }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Campaign Name:</label>
                                        <input type="text"
                                               class="form-control"
                                               id="name"
                                               name="name"
                                               placeholder="Enter Campaign Name"
                                               value="{{ campaign.name }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Campaign Status:  </label>
                                        <div class="radio">
                                            <label>
                                                <input name="status" type="radio" value="ACTIVE" {% if campaign.status == 'ACTIVE' %}checked="checked"{% endif %} disabled />
                                                <span class="text success">ACTIVE</span>
                                            </label>
                                            <label>
                                                <input name="status" type="radio" value="INACTIVE" {% if campaign.status == 'INACTIVE' %}checked="checked"{% endif %} />
                                                <span class="text danger">NOT ACTIVE</span>
                                            </label>
                                        </div>
                                        <p class="help-block text-info">The campaign's status will be updated automatically upon funding and approval.</p>
                                    </div>


                                    <!-- form actions -->
                                    <hr />
                                    <button type="submit"
                                            form="edit-campaign-form"
                                            name="save-campaign-settings"
                                            id="save-campaign-settings"
                                            value="submit"
                                            class="btn btn-lg btn-primary .shiny">
                                        <i class="fa fa-save"></i> Save {{ campaign.name }} Campaign
                                    </button>
                                    <input type="hidden" name="store_id" value="{{ store.id }}" />
                                    <input type="hidden" name="campaign_type" value="{{ campaign.type }}" />
                                    <a href="{{ url_for('campaigns') }}" class="btn btn-lg btn-default .shiny"><i class="fa fa-times-circle"></i> Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div><!-- end: settings -->
                </div><!-- end: tab-content -->
            </div><!-- end: tabbable -->
        </div><!-- end: profile body -->
    </div><!-- end: profile container -->

    </div>
{% endblock %}

{% block js %}
    {{ super() }}


    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script>
        //-- bootstrap date picker--
        $('.date-picker').datepicker({
            clearBtn: true,
            todayBtn: true,
            autoClose: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    </script>

    <!-- datepicker-js ->
    <script src="assets/js/datetime/bootstrap-timepicker.js"></script>

    <!--Bootstrap Date Range Picker
    <script src="assets/js/datetime/moment.js"></script>
    <script src="assets/js/datetime/daterangepicker.js"></script>
    -->
{% endblock %}