{% extends "_layout.html" %}
{% block title %}EARL Admin: Reports{% endblock %}
{% block page_header %}Admin Reports{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('reports') }}">Reports</a></li>
{% endblock %}


{% block content %}
    <div class="well with-header">
        <div class="header bordered-azure"><i class="fa fa-bar-chart"></i> <strong>Store Campaign Reports</strong></div>
            <div class="row">
                <form name="get_store_campaigns" class="form-inline" method="post" style="padding-left:50px;">
                    {{ form.hidden_tag() }}
                    {% if form.errors %}
                        {% for error in form.errors %}
                            <div class="alert alert-danger">
                                <p><i class="fa fa-warning"></i> {{ error }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <select id="store_id" name="store_id" aria-hidden="true" onchange="this.form.submit()">
                            <option value="">Select Store:</option>
                            {% for store in stores %}
                                {% if store.id == store_id %}
                                    <option value="{{ store_id }}" selected>{{ store.name }}</option>
                                {% else %}
                                    <option value="{{ store.id }}">{{ store.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span><input type="text"
                                              class="form-control"
                                              name="report_date_range"
                                              id="date-range"
                                              value="{{ start_date|datemdy }} - {{ end_date|datemdy }}"
                                              />
                            </div>
                        </div>
                    </div>
                    <!-- action buttons -->
                    <button name="run-report" for="get_store_campaigns" id="run-report" type="submit" class="btn btn-primary btn-lg">
                        <i class="fa fa-play-circle"></i> Run Report
                    </button>
                    <a href="{{ url_for('reports') }}" class="btn btn-lg btn-default" style="margin-left:5px;">
                        <i class="fa fa-times-circle"></i> Reset Report
                    </a>
                    <input name="get-store-campaigns" type="hidden" value="1" />
                </form>
            </div>
    </div>


    {% if results_list %}

        <div class="well with-header">
            <div class="header bordered-azure"><i class="fa fa-bar-chart"></i> <strong>Report Results</strong></div>

                <h3><i class="fa fa-building"></i> {{ store_name }}  Active Campaigns </h3>

                <h5>Report Summary:</h5>
                <h5 class="text-primary">Report Dates: {{ start_date }} to {{ end_date }}</h5>
                <!--
                <span class="pull-right" style="margin-bottom: 10px;">
                    <a href="" class="btn btn-md btn-primary"><i class="fa fa-download"></i> Export to CSV</a>
                </span>
                -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Job Number</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Tactic</th>
                            <th>Total Vistors</th>
                            <th>Total Unique Visitors</th>
                            <th>Total Appends</th>
                            <th>Total Leads</th>
                            <th>Total Sent to Dealer</th>
                            <th>Total ADF</th>
                            <th>Total Follow Up Email</th>
                            <th>Total RVM</th>
                            <th>Total Email Verified</th>
                            <th>Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results_list %}
                            <tr>
                                <td>{{ result[0][0] }}</td>
                                <td>{{ result[0][1] }}</td>
                                <td>{{ result[0][2] }}</td>
                                <td>{{ result[0][3] }}</td>
                                <td>{{ result[0][4] }}</td>
                                <td>{{ result[0][5] }}</td>
                                <td>{{ result[0][6] }}</td>
                                <td>{{ result[0][7] }}</td>
                                <td>{{ result[0][8] }}</td>
                                <td>{{ result[0][9] }}</td>
                                <td>{{ result[0][10] }}</td>
                                <td>{{ result[0][11] }}</td>
                                <td>{{ result[0][12] }}</td>
                                <td><a href="#" class="btn btn-xs btn-primary">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="14"><span class="badge badge-success badge-square"> {{ results_count }} active campaigns.</span></td>
                        </tr>
                    </tfoot>
                </table>
        </div>


    {% endif %}

    {% if store_id %}
        {% if not results_list %}
            <div class="alert alert-block alert-danger">
                <h4><i class="fa fa-warning"></i> <strong>NO RESULTS FOUND!</strong></h4>
                <p>There are no results for the selected dates: {{ start_date|datemdy }} and {{ end_date|datemdy }}</p>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}


{% block js %}
    {{ super() }}
    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/moment.js"></script>
    <script src="//s3.amazonaws.com/earl-admin-theme/html/assets/js/datetime/daterangepicker.js"></script>

    <script>
        //-- bootstrap date range picker--
        $('#date-range').daterangepicker({
            clearBtn: true,
            todayBtn: true,
            autoClose: true
        }).on('changeDate', function (ev) {
            $(this).daterangepicker('hide');
        });
    </script>
    <!-- datepicker-js ->
    <script src="assets/js/datetime/bootstrap-timepicker.js"></script>
{% endblock %}
