{% extends "_layout.html" %}
{% block title %}EARL Admin: Manage Stores{% endblock %}
{% block page_header %}Manage Stores{% endblock %}
{% block breadcrumbs %}
<li><a href="{{ url_for('stores') }}">Stores</a></li>
{% if 'all' in request.full_path %}
<li>All Stores</li>
{% else %}
<li>Search Store List</li>
{% endif %}
{% endblock %}

{% block content %}

    {% if stores %}

        <div class="well with-header with-footer">
            {% if not 'all' in request.full_path %}
            <div class="header bg-success">
                <i class="fa fa-search"></i> <strong>Search Store List</strong>
            </div>
            {% else %}
            <div class="header bg-primary">
                <i class="fa fa-th-list"></i> <strong>Store List &raquo; All Stores &raquo; Showing {{ store_count }} active stores.</strong>
            </div>
            {% endif %}
            <span class="pull-left">
                <div class="col-lg-6">
                    <form name="search-store" action="{{ url_for('stores') }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="input-group">
                            <input type="text"
                                   class="form-control input-md"
                                   name="store_name"
                                   placeholder="Search Stores by Store Name"
                                   value="{% if request.form %}{{ request.form.get('store_name') }}{% endif %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-md btn-default .shiny" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                    {% if request.form %}
                                        <a href="{{ url_for('stores') }}"
                                           style="margin-left: 5px;"
                                           class="btn btn-md btn-danger .shiny">
                                            <i class="fa fa-times-circle"></i> Reset
                                        </a>
                                    {% endif %}
                                </span>
                        </div>
                    </form>
                </div>
            </span>
            <span class="pull-right" style="margin-top: -30px;margin-bottom: 20px;">
                {% if not 'all' in request.full_path %}
                <a href="{{ url_for('stores_all') }}" class="btn btn-md btn-default .shiny">
                    <i class="fa fa-briefcase"></i> View All Stores
                </a>
                {% endif %}
                <a href="#" class="btn btn-md btn-blue .shiny"><i class="fa fa-archive"></i> Archived Stores</a>
                <a href="{{ url_for('store_add') }}" class="btn btn-md btn-primary .shiny">
                    <i class="fa fa-plus-circle"></i> Add Store
                </a>
            </span>
            <table class="table table-hover">
                <thead class="bordered-primary">
                    <tr>
                        <th>Store Name</th>
                        <th>ClientID</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td><a href="{{ url_for('store_detail', store_pk_id=store.id)}}">{{ store.name}}</a></td>
                            <td>{{ store.client_id }}</td>
                            <td>{{ store.city }}</td>
                            <td>{{ store.state }}</td>
                            <td><span class="label label-success">{{ store.status}}</span></td>
                            <td>
                                <!-- actions -->
                                <a class="btn btn-default btn-sm shiny icon-only primary"
                                   href="{{ url_for('store_detail', store_pk_id=store.id)}}"
                                   title="Edit Store">
                                    <i class="fa fa-check-circle-o"></i>
                                </a>
                                <a class="btn btn-default btn-sm shiny icon-only danger"
                                   href="#"
                                   title="Archive Store">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="footer">
                <span class="badge badge-success badge-square">{{ store_count }}</span> active stores showing...
            </div>
        </div>


    {% else %}

        <div class="well with-header with-footer">
            <div class="header bg-darkorange">
                <i class="fa fa-info-circle"></i> <strong>No Results Found...</strong>
            </div>
            {% if request.form %}
            <h3>No results found matching your search term: <strong>{{ request.form.get('store_name') }}</strong></h3>
            <a href="{{ url_for('stores') }}"
               class="btn btn-lg btn-primary .shiny">
                <i class="fa fa-times-circle"></i> Reset Form
            </a>
            {% else %}
            <h3>The store list is empty.  Click here to <a href="{{ url_for('store_add') }}">add a new store</a>.</h3>
            {% endif %}
        </div>

    {% endif %}











{% endblock %}